<section id="skills">
    <div class="container-fluid">
        <div>
            <h2 class="skills-heading">My Skills</h2>
        </div>
        <div class="skills-container">
            <button type="button" class="btn btn-outline-secondary">Java</button>
            <button type="button" class="btn btn-outline-secondary">Python</button>
            <button type="button" class="btn btn-outline-secondary">Flutter</button>
            <button type="button" class="btn btn-outline-secondary">Mobile App Development</button>
            <button type="button" class="btn btn-outline-secondary">HTML/CSS</button>
            <button type="button" class="btn btn-outline-secondary">Web Development</button>
            <button type="button" class="btn btn-outline-secondary">SQL</button>
            <button type="button" class="btn btn-outline-secondary">Firebase</button>
        </div>
    </div>
</section>