#about{
    background-color: #eeeff1;
}

@media (max-width: 764px){
    #about{
       text-align: center;
   }
}

body{
    font-family: 'Poppins', sans-serif;
}

.btn{
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

#contact{
    background-color: #eeeff1;
}

.contact-heading{
    padding-bottom: 1rem;
}

.container-fluid{
    padding: 5% 15%;
}

@media (max-width: 1020px){
    .container-fluid{
        padding: 5% 10%;
    }
}

footer{
    background-color: #eeeff1;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.form-row{
    padding-bottom: 2rem;
}

.hi-there{
    font-size: 3rem;
    font-weight: 900;
}

@media (max-width: 764px){
    .hi-there{
        font-size: 2.5rem;
    }
}

@media (max-width: 1020px){
    .hi-there{
        font-size: 2.7rem;
    }
}

.intro-text{
    font-size: 1.6rem;
    line-height: 1.6;
    margin: auto;
}

@media (max-width: 764px){
    .intro-text{
        font-size: 1.2rem;
    }
}

@media (max-width: 1020px){
    .intro-text{
        font-size: 1.4rem;
    }
}

.profile-pic-container{
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.profile-pic{
    border-radius: 100%;
    width: 90%;
    background-image: linear-gradient(to bottom, pink, skyblue 40%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 764px){
    .profile-pic{
        width: 60%;
    }
}

@media (max-width: 1020px){
    .profile-pic{
        width: 100%;
    }
}

.navbar{
    padding: 1% 2%;
}

@media (max-width: 764px){
   .navbar{
       padding: 4%;
   }
}

.navbar-brand{
    font-size: 1.8rem;
    font-weight: 600;
}


#waving-hand{
    font-size: 4em;
}

@media (max-width: 764px){
    #waving-hand{
        font-size: 2.5em;
    }
}

@media (max-width: 1020px){
    #waving-hand{
        font-size: 3em;
    }
}